<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subcategory.title %>
  <strong>Categorie:</strong>
  <%= @subcategory.category %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
