<%= render 'header',
            title: 'Nos ressources presse',
            text: 'Parce que nous avons besoin de nous faire connaître, pour que chacun puisse découvrir ou proposer son alternative éco-responsable !',
            large: 'COM' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-5">Nos ressources</h2>
      <h3 class="mt-4">Tout nouveau sur la toile, notre site web a besoin<br/>d'un <strong>coup de pouce</strong> :loudspeaker:</h3>
      <h3 class="mt-4 text-right">Tu es libre de <strong>partager</strong> notre site à ton entourage !</h3>
      <h3 class="mt-4 mb-5">Si tu veux travailler avec nous, on attend ton message<br/>avec impatience : <a href='/contact'>makyma.org/contact</a></h3>
      <p><a href="<%= asset_path('downloads/communique.pdf') %>" download="Communiqué de presse - Makyma">Télécharger notre communiqué de presse</a></p>
      <p><a href="<%= asset_path('downloads/dossier_presse.pdf') %>" download="Dossier de presse - Makyma">Télécharger notre dossier de presse</a></p>


      <h2 class="mt-5 mb-5">Notre logo</h2>
      <h3 class="mt-4 mb-5">Makyma à toutes les échelles :mag:</h3>
      <p>Vous trouverez ci-dessous nos différentes déclinaisons de <strong>logo</strong>.</p>
      <p><a href="<%= asset_path('downloads/logo_computer.svg') %>" download="Logo ordinateur - Makyma">Télécharger notre logo version ordinateur</a></p>
      <p><a href="<%= asset_path('downloads/logo_tablette.svg') %>" download="Logo tablette - Makyma">Télécharger notre logo version tablette</a></p>
      <p><a href="<%= asset_path('downloads/logo_mobile.svg') %>" download="Logo téléphone - Makyma">Télécharger notre logo version téléphone</a></p>
    </div>
  </div>
</div>