<%= render 'header',
            title: 'Contacte-nous',
            text: 'Tu as une question, une demande particulière sur un produit, une proposition à nous faire ? Contacte-nous, nous serons ravis de pouvoir te répondre 🙌',
            large: '!!!' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-5">Viens nous parler !</h2>
      <h3>
        Tu as des <strong>questions</strong> ?
        Tu souhaites <strong>en savoir plus</strong> sur nous ?

      </h3>
      <p class="mb-5">
        Makyma est un projet humain et collaboratif.
        Nous souhaitons te proposer les meilleures alternatives
        et être le plus proche possible de toi !<br>
        Alors, si tu as des questions, des remarques, n’hésites pas !
        Nous serons ravies de recevoir tes mots doux !
      </p>

      <%= simple_form_for @contact, url: 'contact#new' do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.input :body, label: 'Message', as: :text %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Envoyer', class: "btn-product" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
