
<%= simple_form_for(@alternative) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :source %>
    <%= f.input :find %>
    <%= f.input :imgUrl %>
    <%= f.association :alternative_type_filter %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
