<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @alternative.product %>
</p>

<p>
  <strong>Title:</strong>
  <%= @alternative.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alternative.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @alternative.source %>
</p>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_alternative_path(@alternative) %>
<% end %>
<%= link_to 'Back', product_path %>
