<%= render 'header',
            title: "Le compagnon pour ta transition <br>
            éco-responsable qui te propose déjà #{@alternatives.count}&nbsp;alternatives !",
            text: 'Tu as pris conscience de ton impact écologique et tu souhaites le réduire
            sans changer tes habitudes. Découvre les alternatives vertes aux produits
            de ton quotidien, et adopte un comportement éco-responsable.',
            count: @alternatives.count %>

<div class="container">
  <div class="row justify-content-center" style="margin-bottom: 130px;">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <%= link_to category, class: "text-decoration-none" do %>
          <div class="card category mb-4">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-4">
                  <%#= image_tag 'http://www.makyma.org/assets/bottle-41f43f6483d94e76d6813467a4942b9d97dd790973dad6b12c861866da5359ab.png', class: "img-fluid", alt: "Icône symbolisant la catégorie #{category}" %>
                  <%= image_tag category.image, class: "img-fluid", alt: "Icône symbolisant la catégorie #{category}" if category.image %>
                </div>
                <div class="col-8">
                  <h3 class="pt-2" style="text-decoration: none;"><%= category %></h3>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if can? :manage, @category %>
    <div class="row justify-content-around">
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle catégorie', new_category_path %></button>
    </div>
  <% end %>
</div>
