<%= render 'header',
            title: "#{@alternatives.count}&nbsp;alternatives pour 
            ta transition responsable !",
            text: 'Découvre les alternatives vertes aux produits de ton quotidien, 
            et adopte un comportement éco-responsable 🌱',
            count: @alternatives.count %>

<div class="container">
  <div class="row mb-5 text-center justify-content-center align-items-center">
    <h2 class="text-secondary">Découvre nos catégories !</h2>
  </div>
    <div class="row justify-content-center pt-3">
      <% @categories.each do |category| %>
        <div class="col-lg-4">
          <%= link_to category, class: "text-decoration-none" do %>
            <div class="card category shadow-sm mb-4 border-info">
              <div class="card-body">
                <div class="row justify-content-center align-items-center pt-2 pb-2 pl-3 pr-3">
                  <div class="col-4">
                    <%= image_tag category.image, class: "img-fluid", alt: "Icône symbolisant la catégorie #{category}" if category.image %>
                  </div>
                  <div class="col-8">
                    <h3 class="name-category text-info mb-0"><%= category %></h3>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tutorial-container row justify-content-center">
        <div class="col-md-4 mb-5">
          <div class="row justify-content-start align-items-start">
            <p class="number text-primary">1</p>
            <%= image_tag asset_path('search.png'), class: "img-fluid ml-4 mb-2", alt: "Icône symbolisant l'étape 1" %>
          </div>
            <p><strong class="text-primary">Recherche</strong> un produit dans la <span>barre de recherche</span> ou dans nos <span>catégories</span></p>
        </div> 
        <div class="col-md-4 mb-5">
          <div class="row">
            <p class="number text-primary">2</p>
            <%= image_tag asset_path('eyes.png'), class: "img-fluid ml-4 mb-2", alt: "Icône symbolisant l'étape 2" %>
          </div>
          <p><strong class="text-primary">Découvre</strong> les différentes <span>alternatives</span> qui te sont <span>proposées</span></p>
        </div> 
        <div class="col-md-4 mb-5"> 
          <div class="row">
            <p class="number text-primary">3</p>
            <%= image_tag asset_path('hand_finger_top.png'), class: "img-fluid ml-4 mb-2", alt: "Icône symbolisant l'étape 3" %>
          </div> 
          <p><strong class="text-primary">Choisi</strong> celle qui te <span>correspond</span> le plus et <span>change le monde</span> à ton échelle !</p>
        </div> 
    </div>
    <div class="random-suggestion row mt-5 pb-5">
      <div class="w-100 d-flex flex-column text-center justify-content-center align-items-center header">
        <h2 class="text-secondary">La roulette Makyma</h2>
        <p class="text-secondary mt-2 mb-3">Tire une nouvelle alternative au hasard ! 👇🏼</p>
        <button type="button" id="random-suggestion-btn" class="mt-3 border rounded border-info pt-3 pb-3 pl-4 pr-4 bg-transparent text-info">Tirer une nouvelle alternative</button>
      </div>
      <!-- aleatoire -->
    </div>
    <div class="row justify-content-center align-items-center text-center mt-5">
      <h2 class="text-secondary">Ils nous font confiance</h2>
    </div>
    <div class="about_container row col-md-7 offset-md-1">
      <h2>Qui sommes-nous ?</h2>
      <p>Makyma permet d’accompagner ta transition écologique le plus facilement possible. 
      Avec une utilisation facile pour tout le monde, même ta grand-mère peut y arriver ! 
      Choisis d’acheter local, de le faire par toi même, ou de commander sur internet. 
      Tu choisis ce que tu préfères !</p>
      <a href="">En savoir plus</a>
    </div>

  <% if can? :manage, @category %>
    <div class="row justify-content-around">
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle catégorie', new_category_path %></button>
    </div>
  <% end %>
</div>
