<div class="jumbotron">
  <div class="row">      
    <div class="col-lg-10 offset-lg-1">
      <h1 class="">Makyma</h1>
      <p class="lead"> Le compagnon pour ta transition responsable</p>
      <input class="form-control mb-5" type="text" placeholder="Search" aria-label="Search">
  
      <p class="lead">Tu as pris conscience de ton impact ecologique et tu souhaites le reduire sans changer tes habitudes. Decouvre les alternatives vertes aux produits de ton quotidien, et adopte un comportement eco-responsable</p>
    </div>
  </div>
</div>


<div class="container">
  <section class="row">
      <table class="table col-lg-8 offset-lg-4 rounded-sm ">
        <thead >
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td ><%= link_to category.title, category %></td>
              <td><%= category.description %></td>
              <td ><%= category.image %></td>
              <% if user_signed_in? %>
                <td ><%= link_to 'Edit', edit_category_path(category) %></td>
                <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </section>
      <br>

  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <button type="button" class="btn btn-dark">
      <%= link_to 'New Category', new_category_path %>
      </button>
    <% end %>

  </div>

</div>