<%= render 'header'%>
<div class="container mb-0">
  <div class="flex-column-reverse flex-md-row  mb-3 justify-content-between d-flex align-items-center ">
    <div class="d-inline-block">
      <h2 class="w-100">Explore <br/> les alternatives <br/> éco-responsable <%= image_tag asset_path('plant.png'), class: "img-fluid", alt: "Emoji plante" %></h2>
      <p>Pour t’aider dans ta transition écologique quotidienne <%= image_tag asset_path('smile.png'), class: "img-fluid", alt: "Emoji content" %></p>
      <a class="button nav-link d-inline-block text-light border border-info bg-info rounded pr-3 pl-3" href="/suggestion">À propos de Makyma</a>
    </div>
    <div class="left-part">
        <%= image_tag asset_path('networks.png'), class: "img-fluid", alt: "Image des réseaux sociaux" %>
    </div>
  </div>
</div> 

<div class="container">
  <% if can? :manage, @alternative %>
    <div class="row mb-3 text-center justify-content-center align-items-center">
      <a href="/suggested_alternatives" class="button admin text-info border-info border rounded pt-2 pb-2 pl-3 pr-3 shadow-sm ml-2">Voir les suggestions 👀</a>
    </div>
  <% end %>

  <div class="container">
    <div id="alternatives" class="row mb-2 text-center justify-content-between align-items-center">
      <p class="mb-0">Nos catégories</p> 
      <div class="d-flex">
        <p class="mb-0"><span class="mr-1">✂️</span> DIY</p>
        <p class="mb-0 ml-5"><span class="mr-1">🛒</span> Acheter en ligne</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap">
    <% @categories.each do |category| %>
    <% if !@params.nil? 
        isFilterActive = @params[0].to_s === category.id.to_s 
      end %>
      <div class="mr-2">
        <div class="filter" data-id="<%= category.id %>">
          <div class="card category shadow-sm mb-4 border-info d-inline-block <%= 'active' if isFilterActive %>">
            <div class="card-body ">
              <div class="row align-items-center">
                <div class="img">
                  <%= image_tag category.image, class: "img-fluid", alt: "Icône symbolisant la catégorie #{category}" if category.image %>
                </div>
                <div>
                  <p class="name-category text-info mb-0 d-inline"><%= category %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if can? :manage, @category %>
    <div class="row justify-content-center">
      <%= link_to 'Ajouter une nouvelle catégorie ➕', new_category_path, class: 'button admin text-info border-info border rounded pt-2 pb-2 pl-3 pr-3 shadow-sm' %>
    </div>
  <% end %>

  <div class="d-flex flex-wrap">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3 product-card" data-filter="<%= product.category.id %>">
        <%= link_to product_path(product) do %>
          <img class="img-fluid rounded" src="<%= product.alternatives[0].imgUrl %>" alt="Image correspondant à l'aternative <%= product.alternatives[0] %>">
            <div class="ml-1 row icon">
              <% arrayOfFilter = []
              for i in (0...product.alternatives.count)
                if(arrayOfFilter.exclude?product.alternatives[i].alternative_type_filter.to_s)
                    arrayOfFilter.push(product.alternatives[i].alternative_type_filter.to_s)
                end
              end
              arrayOfFilter = arrayOfFilter.sort
              for i in(0..arrayOfFilter.length) %>
                <% if arrayOfFilter[i] == 'En ligne' %>
                  <p>🛒</p>
                <% end %>
                <% if arrayOfFilter[i] == 'DIY' %>
                  <p>✂️</p>
                <% end %>
              <% end %>
          </div>
          <div class="description">
            <h4><%= product.title %></h4>
            <p><%= product.alternatives.count %> alternative<%= 's' if product.alternatives.count > 1%> trouvée<%= 's' if product.alternatives.count > 1%> 🌱</p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center w-100">
      <div class="nav-link text-info border border-info rounded pr-3 pl-3 show-more-button">Voir plus</div>
    </div>
  </div>

  <div class="container partner-container">
    <div class="row justify-content-center align-items-center text-center mt-4">
      <h2>Ils nous font <span class="text-primary">confiance</span></h2>
    </div>
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://www.u-bordeaux-montaigne.fr/fr/index.html" target="_blank">
          <%= image_tag asset_path('partenaires/universite_bordeaux_montaigne.png'), class: "img-fluid", alt: "Icône de notre partenaire oxygene caps" %>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://www.mmibordeaux.com/" target="_blank">
          <%= image_tag asset_path('partenaires/mmi_bordeaux.png'), class: "img-fluid", alt: "Icône de notre partenaire oxygene caps" %>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://bonsplansecolo.fr/" target="_blank">
          <%= image_tag asset_path('partenaires/bons_plans_ecolo.png'), class: "img-fluid", alt: "Icône de notre partenaire bonsplansecolo" %>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://www.instagram.com/thegreenglobalproject/" target="_blank">
          <%= image_tag asset_path('partenaires/the_green_global_project.png'), class: "img-fluid", alt: "Icône de notre partenaire the green global project" %>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://www.machouettecouture.fr/" target="_blank">
          <%= image_tag asset_path('partenaires/ma_chouette_couture.png'), class: "img-fluid", alt: "Icône de notre partenaire ma chouette couture" %>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 text-center partner">
        <a href="https://oxygenecaps.fr/" target="_blank">
          <%= image_tag asset_path('partenaires/oxygene_caps.png'), class: "img-fluid", alt: "Icône de notre partenaire oxygene caps" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="about-container container pt-5 pb-5 bg-primary">
  <div class="row offset-md-1 mt-5 position-relative pb-5">
    <div class="col-md-7 mt-5 pb-5">
      <h2 class="text-primary">Qui sommes-nous ?</h2>
      <p class="text-secondary mt-4 mb-5">Makyma permet d’accompagner ta transition écologique le plus facilement possible. 
      Avec une utilisation facile pour tout le monde, même ta grand-mère peut y arriver ! 
      Choisis d’acheter en ligne ou de le faire par toi même. 
      Tu choisis ce que tu préfères !</p>
      <a href="/about" class="button text-info border-info border rounded pt-2 pb-2 pl-3 pr-3 shadow-sm">En savoir plus</a>
    </div>
    <div class="logo-footer w-100 h-100 position-absolute d-none d-md-flex justify-content-end align-items-center">
      <%= image_tag asset_path('logo_mobile.svg'), class: "img-fluid mr-5", alt: "Logo de Makyma" %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var pageSize = 12;

  $('#random-alternative-btn').click(() => {
    var alternatives = $('.alternative-random-container').not('.active')
    var alternative_active = $('.alternative-random-container.active')
    var index = randomNumber(0, alternatives.length)

    hideAlternative(alternative_active)
    showAlternative(alternatives.eq(index))
  })

  var hideAlternative = (alternative) => {
    alternative.removeClass(['d-flex', 'active'])
    alternative.addClass('d-none')
  }

  var showAlternative = (alternative) => {
    alternative.removeClass('d-none')
    alternative.addClass(['d-flex', 'active'])
  }  

  var randomNumber = (min, max) => {
    min = Math.ceil(min)
    max = Math.floor(max)
    return Math.floor(Math.random() * (max - min +1)) + min
  }

  $('.filter').click((e) => {
    var filterId = $(e.currentTarget).data('id')
    var queryParams = new URLSearchParams(window.location.search);
    var actualFilter = queryParams.get('filter');
    var filterProductCard;

    $('.filter .card').removeClass('active')

    if (actualFilter === filterId.toString()) {
      queryParams.delete('filter', filterId)
      filterProductCard = $(".product-card")
    } else {
      queryParams.set('filter', filterId)
      $(e.currentTarget).children('.card').addClass('active')
      filterProductCard = $(`.product-card[data-filter="${filterId}"]`)
    }
    
    pageSize = 12;
    const productsCard = $('.product-card')

    productsCard.hide()
    filterProductCard.slice(0, pageSize).show()

    if (filterProductCard.length < pageSize) {
      $('.show-more-button').hide()
    } else {
      $('.show-more-button').show()
    }

    history.replaceState(null, null, "?"+queryParams.toString());
  })

  $('.show-more-button').click(() => {
    pageSize += 8

    const productsCard = $('.product-card')
    const productsCardFiltered = productsCard.slice(0, pageSize)

    productsCard.hide()
    productsCardFiltered.show();

    window.scrollTo(0, productsCardFiltered.slice(pageSize - 8, pageSize).offset().top)

    if (pageSize >= productsCard.length) {
      $('.show-more-button').hide()
    }
  })

  $(document).ready(() => {
    const productsCard = $('.product-card')
    const productsCardFiltered = productsCard.slice(0, pageSize)

    productsCard.hide()

    const filter = new URLSearchParams(window.location.search).get("filter")
    if (filter) {
      const filterProductCard = $(`.product-card[data-filter="${filter}"]`)
      filterProductCard.slice(0, pageSize).show()

    if (pageSize >= filterProductCard.length) {
      $('.show-more-button').hide()
    }
    } else {
      productsCardFiltered.show();
    }
  })
<% end %>