<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Makyma</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
<section class="row justify-content-center">
    <table class="table col-lg-8 rounded-sm ">
      <thead >
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td ><%= category.titre %></td>
            <td><%= category.description %></td>
            <td ><%= category.image %></td>
            <td ><%= link_to 'Show', category %></td>
            <td ><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>
    <br>

<div class="row justify-content-center">
    <button type="button" class="btn btn-light">
    <%= link_to 'New Category', new_category_path %>
    </button>
</div>
</div>