<%= render 'header',
            title: @category.title,
            text: @category.description,
            count: @category.alternatives.count %>

<div class="container category__products">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% @category.products.each do |product| %>

        <div class="product">
          <div class="product-text">
            <h4><%= link_to product, product %></h4>
            <p class="alternatives-count"><%= product.alternatives.count %> solution<%= "s" if product.alternatives.count > 1 %> alternative<%= "s" if product.alternatives.count > 1 %></p>
          </div>
          <%= link_to 'Je change', product, class:'btn mt-2 mb-2' %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<% if can? :manage, @category %>
  <div class="container">
    <div class="row justify-content-around my-5">
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouveau produit', new_product_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_category_path(@category) %></button>
      <%# <!-- <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Retour', categories_path %>
    </div>
  </div>
<% end %>
