<p>
  <strong>Titre:</strong>
  <%= @category.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @category.image %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<ul>
	<% @category.products.each do |product| %>
		<li><%= link_to product, product %></li>
	<% end %>
</ul>

<%= link_to 'New Product', new_product_path %>