<header class="position-relative" style="top:-130px">
  <div class="container"style="padding-top:120px; padding-bottom:50px">
    <div class="jumbotron bg-transparent">
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-8">
          <span>
            <h1><%= @category %></h1>
          </span>
        </div>
      </div>
      <span class="position-fixed count" style="opacity:0.27; right:-60px; top:-50px; ;font-size:396px "><%= @category.alternatives.count %></span>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p>
            <%= @category.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% @category.products.each do |product| %>

      <div class="row" style="border-radius:0px">
        <div class="col-lg-12">
          <div class="d-flex justify-content-between align-items-center my-4">
              <h3><%= link_to product, product, style:'color:#707070; text-decoration: none' %></h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="pr-3">
                <!-- <span>🧺</span>
                <span>🛠</span>
                <span>🌐</span> -->
                <span> solutions alternatives</span>
              </div>
              <%= link_to 'Je change', product, class:'shadow hoverBtn text-right p-2 pt-3 pb-3', style:'color:#707070; text-decoration: none'%>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-around my-5">
    <% if can? :manage, @category %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouveau produit', new_product_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_category_path(@category) %></button>
    <% end %>
      <%# <!-- <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Retour', categories_path %>
  </div>
</div>

<%= javascript_tag do %>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
<% end %>