<div class="row justify-content-center">
    <h1>
      <strong><%= @category %></strong>
    </h1>
</div>

<div class="row justify-content-center" style="margin: 0">
  <p>
    <%= @category.description %>
  </p>
</div>

<p>
  <strong>Image:</strong>
  <%= @category.image %>
</p>


<div class="row justify-content-between" style="margin: 0">
  <% @category.products.each do |product| %>
		<div class="card" style="width: 18rem; height: 18rem;">
      <div class="card-body">
        <%= link_to product, product %>
      </div>
    </div>
	<% end %>
</div>


<div class="row justify-content-around mt-5">
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Ajouter', new_product_path %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Modifier', edit_category_path(@category) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Retour', categories_path %></button>
</div>
