<%
count ||= nil
large ||= nil
%>
<header class="jumbotron bg-transparent text-white">
  <span class="position-fixed count" style="opacity:0.27; right:-60px; top:-50px;">
    <%= count %>
    <%= large %>
  </span>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1><%= raw title %></h1>
        <p><%= raw text %></p>
        <%= form_tag(search_path, :method => "get") do %>  
          <div class="search">
            <div class="search-bar">
              <%= search_field_tag :id, current_controller?('search') ? params[:id] : '', placeholder: "Rechercher", 
              class: "w-50"%>   
              <%= button_tag "Rechercher",:name => nil%>
            </div>
          </div>  
        <% end %>   
      </div>

    </div>
  </div>
</header>
<% if count %>
  <%= javascript_tag do %>
    $('.count').each(function () {
      $(this).prop('Counter', 0).animate({
          Counter: $(this).text()
      }, {
          duration: 8000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
    });
  <% end %>
<% end %>
