<%= render 'header',
            title: @product.title,
            text: '',
            count: @product.alternatives.count %>

<div class="container product__alternatives">
  <div class="row">
    <% @product.alternatives.sort{|a,b| a.title <=> b.title}.each do |alternative| %>
      <div class="col-md-4">
        <div class="card product__alternative">
          <div class="card-body">
            <h2><%= alternative %></h2>
            <p><%= alternative.description %></p>
            <h3 class="mt-5">Où trouver ?</h3>
            <p><%= alternative.find %></p>
            <%= link_to 'Je fonce !', alternative.source, target: :_blank, class: 'btn btn-primary mt-5' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-5 mb-5">
      <div class="col-md-8 offset-md-2" >
        <h3>Tu connais une <strong>alternative</strong> que nous avons oubliée ?</h3>
        <p class="mb-5">Nous travaillons chaque jour à te proposer les meilleurs alternatives pour t’aider à changer ton quotidien et à protéger notre belle planète bleue. Cependant, nous sommes humains et nous avons peut être oublié une alternative, alors prends part à l’aventure en nous envoyant par mail ton alternative !</p>
        <a href="mailto:participation@makyma.org?subject=Nouvelle alternative | <%= @product.category %> - <%= @product %>&body=Bonjour makyma,%0D%0AMême si les pigeons voyageurs sont plus écologiques que les mails, ils restent bien moins rapides. Je me permets donc d'utiliser cette solution électronique pour vous proposer cette alternative que vous semblez avoir oubliée et qui me parait essentielle !%0D%0A%0D%0ATitre : %0D%0ADescription : %0D%0ADescription du lien : %0D%0ALien : %0D%0A%0D%0ABisous verts et biodégradables" class="hoverBtn btnActive px-4 py-3 border-13 shadow " style="font-weight:bold">Contacte-nous</a>
    </div>
  </div>
</div>




<div class="container">
  <div class="row justify-content-around my-5">
    <% if can? :manage, @product %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle Alternative', new_alternative_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_product_path(@product) %></button>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
<% end %>
