<svg width="0" height="0"  viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0" style="position:absolute; pointer-events: none;">
  <defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
        <path  d="M0,0v0.9c0,0,0.2,0.1,0.5,0S1,1,1,1V0H0z"/>
    </clipPath>
        <clipPath id="myClipFooter" clipPathUnits="objectBoundingBox">
        <path  d="M0,0v0.9c0,0,0.2,0.1,0.5,0S1,1,1,1V0H0z"/>
    </clipPath>
  </defs>
</svg>


<header class="position-relative" style="top:-48px; padding-bottom:200px">
  <div class="container">
    <div class="jumbotron bg-transparent">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <span><%= @product.title %></span>
          <p><%= @product.alternatives.count %> alternatives</p>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container position-relative" style="top: -200px">
  <div class="row justify-content-center no-gutters">
    <% @product.alternatives.each do |alternative| %>
      <div class="col-10 my-5 col-md-5 m-md-4  col-lg-3 my-lg-0" >
        <div class="card shadow border-0" style="border-radius: 13px; min-height: 450px">
          <div class="card-body d-flex flex-column align-items-center text-center">
            <h1 class="text-secondary" style="font-weight: 600;"><%= alternative %></h1>
            <p class="text-secondary" style="color: black"><%= alternative.description %></p>
            <p class="text-secondary" style="color: black"><%= alternative.find %></p>
            <a href="<%= alternative.source %>">Je fonce !</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<div class="container">
  <div class="row justify-content-around my-5">
    <% if can? :manage, @product %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle Alternative', new_alternative_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_product_path(@product) %></button>
    <% end %>
  </div>
</div>
