<header class="position-relative" style="top:-130px">
  <div class="container"style="padding-top:120px; padding-bottom:50px">
    <div class="jumbotron bg-transparent">
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-8">
          <span>
            <h1><%= @product.title %></h1>
          </span>
        </div>
      </div>
      <span class="position-fixed" style="opacity:0.27; right:-60px; top:-50px; ;font-size:396px "><%= @product.alternatives.count %></span>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container position-relative" style="top: -200px">
  <div class="row justify-content-center no-gutters">
    <% @product.alternatives.each do |alternative| %>
      <div class="col-10 my-5 col-md-5 m-md-4  col-lg-3 my-lg-0" >
        <div class="card shadow border-0" style="border-radius: 13px; min-height: 450px">
          <div class="card-body d-flex flex-column align-items-center text-center">
            <h1 class="text-secondary" style="font-weight: 600;"><%= alternative %></h1>
            <p class="text-secondary" style="color: black"><%= alternative.description %></p>
            <p class="text-secondary" style="color: black"><%= alternative.find %></p>
            <a href="<%= alternative.source %>">Je fonce !</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<div class="container">
  <div class="row justify-content-around my-5">
    <% if can? :manage, @product %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle Alternative', new_alternative_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_product_path(@product) %></button>
    <% end %>
  </div>
</div>
