<%= render 'header',
            title: @product.title,
            text: '',
            count: @product.alternatives.count %>

<div class="container product__alternatives">
  <div class="card-columns">
    <% @product.alternatives.sort{|a,b| a.title <=> b.title}.each do |alternative| %>
        <div class="card product__alternative">
          <div class="card-body">
            <h2><%= alternative %></h2>
            <p><%= alternative.description %></p>
            <h3 class="mt-5">Où trouver ?</h3>
            <p><%= alternative.find %></p>
            <%= link_to 'Je fonce !', alternative.source, target: :_blank, class: 'btn btn-primary mt-5 btn-product' %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="row mt-5 mb-5">
    <div class="alternative-contact col-md-8 offset-md-2" >
      <h3>Tu connais une <strong>alternative</strong> que nous avons oubliée ?</h3>
      <p class="mb-5">Nous travaillons chaque jour à te proposer les meilleurs alternatives pour t’aider à changer ton quotidien et à protéger notre belle planète bleue. Cependant, nous sommes humains et nous avons peut être oublié une alternative, alors prends part à l’aventure en nous envoyant ton alternative !</p>
      <%= link_to "Suggérer une alternative", "/suggestion"%>
    </div>
  </div>
  
</div>




<div class="container">
  <div class="row justify-content-around my-5">
    <% if can? :manage, @product %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle Alternative', new_alternative_path %></button>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Modifier', edit_product_path(@product) %></button>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
<% end %>
