<p id="notice"><%= notice %></p>

<p>
  <strong>Cate:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<ul>
	<% @product.alternatives.each do |alternative| %>
		<li><%= link_to alternative, alternative %></li>
	<% end %>
</ul>

<% if user_signed_in? %>
	<%= link_to 'New Alternative', new_alternative_path %>
	<%= link_to 'Edit', edit_product_path(@product) %>
<% end %>
<%= link_to 'Back', category_path %>