<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163339023-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163339023-1');
    </script>

    <html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <% if @product then %>
      <title>Makyma - <%= @product.category %> | <%= @product %>, les alternatives</title>
    <% elsif @category then %>
      <title>Makyma - <%= @category %></title>
    <% else %>
      <title>Makyma - Ton compagnon écoresponsable</title>
    <% end %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Le compagnon pour ta transition écologique qui te propose des alternatives vertes, durables et éco-responsables à tes produits du quotidien !"/>
    <meta name="Language" CONTENT="fr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, nofollow" />
    <meta name="copyright" content="© Makyma <%= Date.today.year %>" />
    <meta name="publisher" content="Énora IGNACE-RICQUEMAQUE, Justine LE BERVET" />
    <meta name="googlebot" content="index, nofollow" />
    <meta name="google" content="translate, sitelinkssearchbox" />
    <meta name="reply-to" content="makymaorg@gmail.com" />
    <meta name="google-site-verification" content="PtB1oZryDai7MBGr-yMoGVKV0eL7iNYJiqGPe_wYMMA" />
    <meta http-equiv="Cache-control" content="public" />
    <link rel="canonical" href="http://www.makyma.org" />

    <meta name="keywords" content="makyma, alternatives, durable, écoresponsable, transition, écologique" />
    <meta name="Author" content="Manaut BERTON-BOITEL, Hugo BLANCHARD, Tom DESPRES, Apolline GONDEAU, Énora IGNACE-RICQUEMAQUE, Sami LAFRANCE, Justine LE BERVET, Nicolas MAITRE, Martin MALNOË, Stéphane RAZAFINDRAMANANA, Tom SOULIÉ, Leo MELLE, Hugo FAUGEROUX" />
    <meta name="Identifier-URL" content="http://www.makyma.org" />
    <meta name="Distribution" content="global" />
    <meta name="Revisit-After" content="15 days" />
    <meta name="Category" content="Écologie, Transition, Alternatives" />

    <meta property="og:title" content="Makyma - Ton compagnon écoresponsable">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.makyma.org/">
    <meta property="og:image" content="http://www.makyma.org<%= asset_path('logo_og.svg') %>">
    <meta property="og:description" content="Le compagnon pour ta transition écologique qui te propose des alternatives vertes, durables et éco-responsables à tes produits du quotidien !">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:site_name" content="Makyma - Ton compagnon écoresponsable">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <svg width="0" height="0"  viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0" style="position:absolute; pointer-events: none;" >
      <defs>
        <clipPath id="myClip" clipPathUnits="objectBoundingBox">
          <path  d="M0,0v0.9c0,0,0.2,0.1,0.5,0S1,1,1,1V0H0z"/>
        </clipPath>
        <clipPath id="myClipFooter" clipPathUnits="objectBoundingBox">
          <path  d="M0,0.1C0,0.1,0.1,0,0.3,0s0.2,0.1,0.4,0.1S1,0,1,0v1H0V0.1z"/>
        </clipPath>
       </defs>
    </svg>


    <div class="container position-relative" style="z-index: 10;">
      <nav class="navbar navbar-expand-sm navbar-light mt-3" style="padding: 5px 0; background-color:rgba(0,0,0,0);">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "logos.svg", class:'logo', alt: "Logotype de Makyma" %>
        </a>
        <ol class="breadcrumb mb-0 pb-0 text-white bg-transparent font-weight-light font-italic" id="ariane">
          <%= render_breadcrumbs :tag => :li, :separator => "&nbsp;/&nbsp;" %>
        </ol>
      </nav>
    </div>

    <%= yield %>

    <footer class="footer bg-dark small">
      <div class="container pt-5">
          <% if user_signed_in? %>
            <div>
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
        <div class="row py-5">
          <div class="col-sm-6" id="copyright">
            <a href="<%= root_path %>">© Makyma <%= Date.today.year %></a>
          </div>
          <div class="col-sm-3">
            <ul class="list-unstyled">
              <li class="mb-3"><a href="/about">A Propos</a></li>
              <li class="mb-3"><a href="/contact">Contact</a></li>
              <li class="mb-3"><a href="/cgu">Mentions légales</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="list-unstyled">
              <li class="mb-3"><a href="https://www.facebook.com/makymaorg">Facebook</a></li>
              <li class="mb-3"><a href="https://www.instagram.com/makyma_app">Instagram</a></li>
              <li class="mb-3"><a href="https://twitter.com/makyma_app">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
