<!DOCTYPE html>
<html>
  <head>
    <title>Makyma</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "logofinal.svg" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Explorer</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Qui sommes nous ?</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid px-0" style="max-width: 100vw;">
      <div class="container position-relative" style="z-index:10;">
      <ol class="breadcrumb mb-0" style="border-radius:0px; background-color:rgba(0,0,0,0); color:#FFF; font-weight: 300; font-style: italic">
        <%= render_breadcrumbs :tag => :li, :separator => "&nbsp;>&nbsp;" %>
      </ol>
    </div>
      <%= yield %>

      <footer class="footer bg-secondary py-5">
          <div class="container">
            <div class="row">
              <div class="d-flex col-lg-6 flex-column justify-content-start">
                <span class="footerMakyma">© Makyma 2020</span>
                <a href="#">CGU</a>
                <a href="#">Mentions Legales</a>

              </div>
              <div class="col-lg-6" >
                <ul class="d-flex list-unstyled mb-0 justify-content-end">
                  <li><a href="#">A Propos</a></li>
                  <li class="ml-4"><a href="#">Explorer</a></li>
                  <li class="ml-4"><a href="#">Contact</a></li>
                  <li class="ml-4"><a href="#">S'inscrire</a></li>
                  <li class="ml-4"><a href="#">Connexion</a></li>
                </ul>
                <ul class="d-flex list-unstyled mb-0 justify-content-end">
                  <li><a href="#">Facebook</a></li>
                  <li class="ml-4"><a href="#">Instragram</a></li>
                  <li class="ml-4"><a href="#">Twitter</a></li>
              </ul>
              </div>

            </div>
          </div>
      </footer>
    </div>

  </body>
</html>
