<!DOCTYPE html>
<html>
  <head>
    <title>Makyma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Catégories", categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Produits", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Alternatives", alternatives_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

      <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
