<!DOCTYPE html>
<html>
  <head>
    <title>Makyma</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <svg xmlns="http://www.w3.org/2000/svg" height="45" viewBox="0 0 292.25 67.227"><defs><style>.a{fill:#ff8f66;}</style></defs><g transform="translate(0 11.585)"><g transform="translate(0 -11.585)"><path class="a" d="M22.518,16.14,0,40.789H15.319L30.6,24.663Z" transform="translate(0 14.843)"/><path class="a" d="M17.831,19.33,22,23.822s-3.724-.557-5.164,1.363L11.4,30.944l3.513-10.635Z" transform="translate(10.484 17.777)"/><path class="a" d="M40.687,9.793S34.179,8.948,29.38,16.8a5.2,5.2,0,0,1,3.071.23,6.508,6.508,0,0,1,2.86,2.169h0a5.913,5.913,0,0,0,4.454,2.534,5.989,5.989,0,1,0,.922-11.942Z" transform="translate(27.02 8.982)"/><path class="a" d="M18.86,14.225V55.67H31.684V42.233L44.565,55.67H59.922L37.366,30.983l-5.759,6.757V0A60.508,60.508,0,0,1,15.52,8.754C19.014,11.652,18.86,14.225,18.86,14.225Z" transform="translate(14.273)"/><path class="a" d="M86.086,18.875a10.942,10.942,0,0,1,2.592,7.679V40.874H81.306V27.437a4.953,4.953,0,0,0-1.248-3.609,4.492,4.492,0,0,0-3.4-1.305A4.607,4.607,0,0,0,73.128,23.9a5.49,5.49,0,0,0-1.286,3.839V40.874h-7.6V27.437a5.01,5.01,0,0,0-1.229-3.609,4.434,4.434,0,0,0-3.379-1.305,4.722,4.722,0,0,0-3.551,1.363,5.375,5.375,0,0,0-1.325,3.839v13.15H47.27V16.36h7.487v4.166a7.256,7.256,0,0,1,2.975-3.244,8.965,8.965,0,0,1,4.665-1.19A9.387,9.387,0,0,1,67.35,17.4a8.063,8.063,0,0,1,3.244,3.7,9.6,9.6,0,0,1,3.494-3.647,10.04,10.04,0,0,1,12,1.421Z" transform="translate(43.473 14.796)"/><path class="a" d="M86.215,17.339a7.679,7.679,0,0,1,2.975,3.475V16.379h7.467V40.893H89.19V36.42a7.679,7.679,0,0,1-2.975,3.475A8.888,8.888,0,0,1,81.4,41.162a9.9,9.9,0,0,1-5.433-1.517,10.251,10.251,0,0,1-3.839-4.358,15.146,15.146,0,0,1-1.382-6.68,15.031,15.031,0,0,1,1.382-6.68,10.309,10.309,0,0,1,3.839-4.338A9.9,9.9,0,0,1,81.4,16.072a8.888,8.888,0,0,1,4.818,1.267Zm-6.3,6.892a6.181,6.181,0,0,0-1.459,4.377A6.2,6.2,0,0,0,79.918,33a5.049,5.049,0,0,0,3.839,1.574A5.106,5.106,0,0,0,87.6,32.965a6.2,6.2,0,0,0,1.5-4.358,6.162,6.162,0,0,0-1.5-4.358,5.567,5.567,0,0,0-7.679,0Z" transform="translate(65.055 14.777)"/><path class="a" d="M101.76,44.57l-7.333-10.4v10.4H86.94V12.07h7.487V29.884l7.333-9.829h8.811L100.7,32.284,110.8,44.57Z" transform="translate(79.956 11.1)"/><path class="a" d="M107.74,16.267l5.874,14.916L119.1,16.19h8.351L112.1,52.337h-8.255L109.6,39.744,99.37,16.267Z" transform="translate(91.387 14.889)"/><path class="a" d="M154.049,18.875a10.942,10.942,0,0,1,2.592,7.679V40.874h-7.372V27.437a5.03,5.03,0,0,0-1.248-3.609,5.145,5.145,0,0,0-6.93,0,5.49,5.49,0,0,0-1.305,3.839V40.874H132.28V27.437a5.01,5.01,0,0,0-1.229-3.609,4.415,4.415,0,0,0-3.379-1.305,4.761,4.761,0,0,0-3.551,1.363,5.452,5.452,0,0,0-1.305,3.839v13.15H115.31V16.36h7.506v4.166a7.218,7.218,0,0,1,2.956-3.244,8.965,8.965,0,0,1,4.665-1.19,9.464,9.464,0,0,1,4.972,1.305,8.159,8.159,0,0,1,3.244,3.7,9.6,9.6,0,0,1,3.475-3.647,10.04,10.04,0,0,1,12,1.421Z" transform="translate(106.047 14.796)"/><path class="a" d="M154.206,17.339a7.679,7.679,0,0,1,2.995,3.475V16.379h7.448V40.893H157.2V36.42a7.679,7.679,0,0,1-2.995,3.475,8.83,8.83,0,0,1-4.818,1.267,9.829,9.829,0,0,1-5.413-1.517,10.289,10.289,0,0,1-3.839-4.358,15.146,15.146,0,0,1-1.382-6.68,15.03,15.03,0,0,1,1.382-6.68,10.346,10.346,0,0,1,3.839-4.338,9.829,9.829,0,0,1,5.413-1.517A8.831,8.831,0,0,1,154.206,17.339Zm-6.277,6.892a6.1,6.1,0,0,0-1.478,4.377,6.124,6.124,0,0,0,1.478,4.4,5.03,5.03,0,0,0,3.839,1.574,5.106,5.106,0,0,0,3.839-1.613,6.124,6.124,0,0,0,1.517-4.358,6.085,6.085,0,0,0-1.517-4.358,5.087,5.087,0,0,0-3.839-1.593,5.029,5.029,0,0,0-3.839,1.574Z" transform="translate(127.601 14.777)"/></g></g></svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Explorer</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Qui sommes nous ?</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid px-0" style="max-width: 100vw;">
      <div class="container position-relative" style="z-index:10;">
      <ol class="breadcrumb mb-0" style="border-radius:0px; background-color:rgba(0,0,0,0); color:#FFF; font-weight: 300; font-style: italic">
        <%= render_breadcrumbs :tag => :li, :separator => "&nbsp;>&nbsp;" %>
      </ol>
    </div>
      <%= yield %>

      <footer class="footer bg-secondary py-5">
          <div class="container">
            <div class="d-flex justify-content-between">
              <span class="footerMakyma">© Makyma 2020</span>
              <ul class="d-flex list-unstyled mb-0">
                <li><a href="#">A Propos</a></li>
                <li class="ml-4"><a href="#">Explorer</a></li>
                <li class="ml-4"><a href="#">Contact</a></li>
                <li class="ml-4"><a href="#">S'inscrire</a></li>
                <li class="ml-4"><a href="#">Connexion</a></li>
              </ul>
            </div>
            <div class="row"><a class="col-lg-2">CGU</a></div>
            <div class="d-flex justify-content-between">
              <a href="#">Mentions Legales</a>
              <ul class="d-flex list-unstyled mb-0">
                <li><a href="#">Facebook</a></li>
                <li class="ml-4"><a href="#">Instragram</a></li>
                <li class="ml-4"><a href="#">Twitter</a></li>
              </ul>
            </div>
          </div>
      </footer>
    </div>

  </body>
</html>
