<!DOCTYPE html>
<html>
  <head>
    <html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <title>Makyma</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light" style="padding: 5px 0">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "logos.svg", class:'logo', alt: "Logotype de Makyma" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/pages/about" class="nav-link text-secondary">Qui sommes-nous ?</a></li>
            <li class="nav-item"><a href="/pages/contact" class="nav-link text-secondary">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container position-relative" style="z-index: 10;">
      <ol class="breadcrumb mb-0 text-white bg-transparent font-weight-light font-italic" id="ariane">
        <%= render_breadcrumbs :tag => :li, :separator => "&nbsp;>&nbsp;" %>
      </ol>
    </div>

    <%= yield %>

      <div class="footer bg-dark">
        <div class="container">
          <div class="row align-items-center flex-wrap-reverse flex-md-nowrap py-5">
            <div class="col-12 col-sm-4 mt-5 mt-sm-0">
              <div class="row">
                <div class="col text-center text-sm-left">
                  <span class="footerMakyma text-secondary">© Makyma <%= Date.today.year %></span>
                </div>
              </div>
              <div class="row">
                <div class="col text-center text-sm-left">
                  <a href="/pages/cgu" class="text-secondary">CGU</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-8" >
              <div class="row">
                <div class="col text-center text-sm-right">
                  <a href="/pages/about" class="text-secondary">A Propos</a>
                  <a class="ml-4 text-secondary" href="/pages/contact">Contact</a>
                </div>
              </div>
              <div class="row mt-1 mt-lg-4">
                <div class="col text-center text-sm-right">
                  <a class="text-secondary" href="https://www.facebook.com/makymaorg/">Facebook</a>
                  <a class="ml-4 text-secondary" href="https://www.instagram.com/makyma_app/">Instragram</a>
                  <a class="ml-4 text-secondary" href="https://twitter.com/makyma_app">Twitter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
